.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: right !important ;
    padding: 1rem;
    width: 14rem;
}

.sidebar .sidebar-heading {
    text-align: right !important;
}

.navbar-nav {
    /* display: flex; */
    /* flex-direction: column; */
    padding-right: 0 !important;
    /* margin-bottom: 0; */
    /* list-style: none; */
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
