/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}*/

/*-----------------------navbar START----------------*/
.navbar a {
    color: #000;
}
#logoHeader {
    width: 120px;
    height: 26.75px;
}
/*-----------------------navbar END----------------*/


/*-----------------------FOOTER START-------------*/
.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #8c9b9f;
    left: 0;
    bottom: 0;
    width: 100%;
}

#logoFooter {
    width: 200px;
}
#Copyright {
    background-color: black;
    color: white;
}
/*-----------------------FOOTER END-------------*/

/*-------------------Fackbook & Twitter Icons START----------------*/

.shareicon {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.shareicon li {
    list-style: none;
}

.shareicon li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 50px;
    color: #262626;
    margin: 0px;
}

.fa-instagram:hover {
    color: #bc2a8d
}

.fa-facebook:hover {
    color: #3b5998
}

.fa-twitter:hover {
    color: #00aced
}
.shareicon li a .fab {
    font-size: 30px;
    line-height: 35px;
    transition: 0.5s;
}
/*-------------------Fackbook & Twitter Icons END----------------*/