/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}*/

/*-----------------------navbar START----------------*/

body {
    background-color: #fff;
    
}

.navbar {
    font-family: "Open Sans Hebrew", Sans-serif;
    font-size: 20px;
    height: 80px;
}
.nav-link {
    color: #000 !important;
}
.nav-link:hover {
    color: #808080 !important;
}

a {
    color: #000;
    text-decoration: none !important;
}
.AfontWhite, .AfontWhite:hover {
    color: white !important;
}

.navbar-toggler-icon {
    color: black;
}

#logoHeader {
    width: 120px;
    height: 26.75px;
}
/*-----------------------navbar END----------------*/


/*-----------------------FOOTER START-------------*/
.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #8c9b9f;
    left: 0;
    bottom: 0;
    width: 100%;
}

#logoFooter {
    width: 200px;
}
#Copyright {
    background-color: black;
    color: white;
}
/*-----------------------FOOTER END-------------*/

/*-------------------Fackbook & Twitter Icons START----------------*/

.shareicon {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.shareicon li {
    list-style: none;
}

.shareicon li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 50px;
    color: #262626;
    margin: 0px;
}

.fa-instagram:hover {
    color: #bc2a8d
}

.fa-facebook:hover {
    color: #3b5998
}

.fa-twitter:hover {
    color: #00aced
}
.shareicon li a .fab {
    font-size: 30px;
    line-height: 35px;
    transition: 0.5s;
}
/*-------------------Fackbook & Twitter Icons END----------------*/
/**********************Login & Signin********************/
.LoginClass {
    float: left;
}
.RegisterClass {
    margin-left: 10px;    
}

.SignButton {
    background-color: #007bff;
    display: inline-block;
    padding: 3px 15px 3px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 50px;
}

    .SignButton:hover {
        background-color: #116ed2;
      
    }

    .SignButton:active {
        background-color: #116ed2;
        transform: translateY(4px);
    }
/***********END**************/




/******************************/
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important; 
    margin-left: 0px !important; 
}
/******************************/