<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - invoiceProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img id="logoHeader" src="https://myinvoice.co.il/static/theme/images/logo.png" />

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">דף הבית</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">החשבון שלי</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">צור קשר</a>
                        </li>
                    </ul>
                </div>
                <div class="my-2 my-lg-0">
                    <a>הרשמה</a>
                    <span> | </span>
                    <a>התחברות</a>
                </div>

            </div>
        </nav>
    </header>
    <div class="render">

        @RenderBody()

    </div>

    <!-- Footer -->
    

    <footer dir="ltr" class="footer" >    
        
            <div class="row  no-gutters">
                <div class="col-8">
                    <img id="logoFooter" src="https://myinvoice.co.il/static/theme/images/logo.png" />
                </div>             
             

                <div class="col-2">
                    <h5 class="text-uppercase">אזור אישי</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a>החשבון שלי</a>
                        </li>
                    </ul>
                </div>

                <div class="col-2">
                    <h5 class="text-uppercase">תפריט ראשי</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a>דף הבית</a>
                        </li>
                        <li>
                            <a>צור קשר</a>
                        </li>
                        <li>
                            <a>אודות</a>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- Copyright -->
        <div id="Copyright" class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
