@{
    ViewData["Title"] = "Index";
}
@section css {
    <link href="@Url.Content("~/css/AboutUs.css")" rel="stylesheet" />
}
<div class="row">
    <div class="col-5">
        <img  src="~/images/office-boardroom-meeting-table-boardroom-meeting-office-meeting-business-meeting.jpg" />
    </div>

    <div class="col-7">
        bla<br />bla<br />bla<br />bla<br />bla<br />bla<br />bla<br />
    </div>
</div>