@{
    ViewData["Title"] = "Index";
}
@section css {
    <link href="@Url.Content("~/css/Form.css")" rel="stylesheet" />
}

<div class="wrapper fadeInDown">

    <div id="formContent">
        <!-- Tab Titles -->
        <h2 class="active">CONTACT US</h2>



        <!-- ContactUs Form -->
        <form>
            <input type="text" id="UserName" class="fadeIn second" name="UserName" placeholder=" שם משתמש" style="text-align:right;">
            <input type="email" id="Email" class="fadeIn second" name="Email" placeholder="כתובת אימייל" style="text-align:right;">
            <textarea type="text" a id="message" rows="6" class="fadeIn second" required="" name="message" placeholder="כתוב הודעה" style="text-align:right; padding: 3px 3px 10px 10px;"></textarea>
            <input type="submit" class="fadeIn fourth" value="שלח הודעה">
        </form>


    </div>
</div>