@{
    ViewData["Title"] = "Index";
    


}

<div class="text-center homeBackground">
    <br /><br /><br />
    <h5>מהיום לא רודפים יותר אחרי חשבוניות</h5>
    <br /><br /><br />
    <h5>הצטרפו עכשיו לעולם מסודר יותר, כאן תמצאו את ארנק החשבוניות הדיגטלי מכל מקום!</h5>
    <br /><br /><br />
    <button id="test" class="glow-on-hover" type="button">להצטרפות</button>


</div>


