@model IEnumerable<invoiceProject.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}



<div class="wrapper fadeInDown">

    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover"><a asp-action="Login">Sign In </a></h2>
        <h2 class="active"> Sign Up </h2>
      



        <!-- Login Form -->
        <form>
            <input type="text" id="firstName" class="fadeIn second" name="firstName" placeholder="First Name">
            <input type="text" id="lastName" class="fadeIn third" name="lastName" placeholder="Last Name">
            <input type="text" id="userName" class="fadeIn third" name="userName" placeholder="Username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="email" id="email" class="fadeIn third" name="email" placeholder="Email">

            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>